.container{

}
.container .heroes{
  display: flex;
  flex-wrap: wrap; /* 한 줄에 넣지 않고 여러줄로 넘어가도록 하기 */
}
.container .heroes .hero{
  width: 80px;
  height: 84px;
  margin: 4px;
  background-color: #555;
}
.container .heroes .hero .image{

}