:root {
  --text-color: #424242;
  --background-color: #fcd734;
  --accent-color: #000070;
  --point-color: #ffff81;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.yeoni {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 10px 25px;
}

.y_logo {
  font-size: 25px;
  color: var(--text-color);
}

.y_logo i {
  color: var(--accent-color);
  font-size: 27px;
}

.y_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.y_menu li {
  padding: 8px 20px;
}

.y_menu li:hover {
  background-color: var(--point-color);
  border-radius: 3px;
}

.y_icon {
  list-style: none;
  color: var(--text-color);
  display: flex;
  padding-left: 0;
}

.y_icon li {
  padding: 8px 17px;
}

.y_toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 23px;
  color: var(--text-color);
}

@media screen and (max-width: 768px) {
  .yeoni {
    flex-direction: column;
    align-items: flex-start;
  }

  .y_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .y_menu li {
    width: 100%;
    text-align: center;
  }

  .y_icon {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .y_toggleBtn {
    display: block;
  }

  .y_menu.active,
  .y_icon.active {
    display: flex;
  }
}
