#content .mark {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.liter {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.lit {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-size: 20px;
}

.search {
  display: flex;
  justify-content: center;
  padding: 30px;
  font-size: 200px;
  color: #ba2d65;
}
